.popup__container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 36px 37px;

}

@media screen and (max-width:400px) {
    .popup__container-content {
        padding: 25px 22px 25px;
    }
}