.place-image-full {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, .9);
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    transition: opacity .8s, visibility .8s linear;
    opacity: 0;
    visibility: hidden;
}