.place-image-full__container {
    display: none;
    flex-direction: column;
    background-color: rgba(0,0,0, .9);
    height: 100%;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
}