.popup__container-close {
    position: absolute;
    top: -40px;
    right: -40px;
    transition: opacity .3s;
}

.popup__container-close:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width:540px) {
    .popup__container-close {
        right: 0;
        height: 25px;
        width: 25px;
    }
}

@media screen and (max-width:380px) {
    .popup__container-close {
        height: 22px;
        width: 22px;
    }
}