.popup__container-close {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #26589F;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    height: 24px;
    width: 24px;
    margin: 0 0 0;
    transition: opacity .3s;
    position: absolute;
    top: -39px;
    right: -31px;
}

.popup__container-close:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width:540px) {
    .popup__container-close {
        left: calc(100vw/2 + 40%);
    }
}

@media screen and (max-width:330px) {
    .popup__container-close {
        left: 261px;
        top: -39px;
    }
}