.popup-add__container-input-item {
    border: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    padding: 0 0 13px;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
}

.popup-add__container-input-item:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width:320px) {
    .popup-add__container-input-item {
     margin-bottom: 25px;
    }
}